* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
  background-image: url('images/blob.png');
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: cover;
}

a {
  color: black;
}

/* Car Section */
.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 7% 0.5%;
}

.car-card {
  background-color: #F2F4D2;
  width: 70%;
  border-radius: 20px;
  display: grid;
  grid-template-areas: 
    "model model"
    "divider divider"
    "info image"
    "button image";
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.car-model {
  grid-area: model;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
  padding-top: 20px;
}

.divider {
  grid-area: divider;
  width: 100%;
  border-top: 1.5px solid #000000;
  margin-bottom: 20px;
}

.car-img {
  grid-area: image;
  max-width: 120%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
  align-self: center;
  justify-self: right;
}

.car-info {
  grid-area: info;
  font-size: 100%;
  line-height: 1.6;
  padding: 30px;
}

.edit-btn {
  text-decoration: none;
  color: inherit;
  grid-area: button;
  background-color: #B2BA5A;
  color: black;
  font-size: 100%;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 5% 2% 10% 10%;
  width: fit-content;
}

/* Style for bold labels and normal values */
.info-label {
  font-weight: 600;
  display: inline-block;
  width: 140px; /* Adjust as needed for alignment */
}

.info-value {
  font-weight: 400;
}

/* Responsive */
@media (max-width: 768px) {
  .car-card {
    width: 90%;
    grid-template-areas: 
      "model"
      "divider"
      "image"
      "info"
      "button";
    grid-template-columns: 1fr;
  }
  
  .car-img {
    max-height: 200px;
  }
}

